  <%unless @destinations.blank?%>
    <%@destinations.each{|destination|%>
      <div class="col s6 m6">
        <div class="card">
          <div class="card-image z-depth-2">
            <%=image_tag("#{destination.name.parameterize.underscore}.jpg")%>
            <span class="card-title"><%=destination.name%></span>
          </div>
          <div class="card-content">
            <p class="truncate"><%=destination.description%> </p>
          </div>
          <div class="card-action">
            <%=link_to root_path, class: "btn btn-floating btn-vote", data: {id: destination.id, remote: true, url: root_path, params:{id: destination.id}.to_param} do %>
              <i class="material-icons">check</i>
            <%end%>
          </div>
        </div>
      </div>
    <%}%>
  <%end%>
  <%unless session[:destinations].blank?%>
    <%=render 'users/form'%>
  <%end%>